@import "reset";
@import "./fonts/inter.scss";
@import "./fonts/sfmono.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
